body {
    max-width: 1024px;
    margin: auto;
}
.header-position {
    text-align: center;
}
img {
    border-radius: 81px;
}
ul {
    margin-left: 15px; 
    padding: 0;
}
.header-name {
    font-weight: bold;
    color: darkblue;
}